{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">{{ stations|length }} stations Issep</h3>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th>Derniers relevés</th>
                    <th>Indice</th>
                    <th>Couleur</th>
                    <th>Dernier relevé</th>
                    <th>Corrigé</th>
                    <th>Configuration</th>
                </tr>
                </thead>
                {% for station in stations %}
                    <tr>
                        <td>
                            {{ station.id }}
                        </td>
                        <td>
                            {{ station.nom }}
                        </td>
                        <td>
                            <a href="{{ path('issep_h24', {'id': station.id}) }}">
                                Consulter
                            </a>
                        </td>
                        <td class="d-flex flex-column align-items-center">
                            {% if station.lastBelAqi %}
                                {{ station.lastBelAqi.label }} ({{ station.lastBelAqi.aqiValue }})
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if station.lastBelAqi %}
                                {% include '@AcMarcheIssep/station/_color.html.twig' with {'belAqi': station.lastBelAqi} %}
                            {% endif %}
                        </td>
                        <td>
                            {% if station.lastBelAqi %}
                                {{ station.lastBelAqi.ts|format_datetime('full', 'medium') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if station.lastBelAqi.isFixed %}
                                Corrigé
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('issep_config', {'id': station.id}) }}">Config</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}