{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">{{ stations|length }} stations Issep</h3>
        <div class="card-body">
            {% include '@AcMarcheIssep/_urlexecuted.html.twig' %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th>Aujourd'hui</th>
                    <th>Indice</th>
                    <th>Dernier relevé</th>
                    <th>Données</th>
                </tr>
                </thead>
                {% for station in stations %}
                    <tr>
                        <td>
                            {{ station.id }}
                        </td>
                        <td>
                            {{ station.nom }}
                        </td>
                        <td>
                            <a href="{{ path('issep_h24', {'id': station.id}) }}">
                                Aujourd'hui
                            </a>
                        </td>
                        <td class="d-flex flex-column align-items-center">
                            {% if station.last_indice %}
                                <div class="d-flex justify-content-between">
                                    <a href="{{ path('issep_indice', {'id': station.id}) }}">
                                        {{ station.last_indice.label }}
                                    </a>
                                    {% include '@AcMarcheIssep/station/_color.html.twig' with {'indice': station.last_indice} %}
                                </div>
                                {% if station.last_indice.isFixed %}
                                    <span class="mx-2 badge text-bg-warning badge-warning">Corrigé ({{ station.last_indice.originalValue }})</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if station.last_indice %}
                                {{ station.last_indice.ts|format_datetime('full', 'medium') }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('issep_data', {'id': station.id}) }}">Relevés</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}