{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">{{ stations|length }} stations Issep</h3>
        <div class="card-body">
            {% include '@AcMarcheIssep/_urlexecuted.html.twig' %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th>Aujourd'hui</th>
                    <th>Indice</th>
                    <th>Configuration</th>
                    <th>Données</th>
                    <th>Ids (Jf)</th>
                </tr>
                </thead>
                {% for station in stations %}
                    <tr>
                        <td>
                            {{ station.number }}
                        </td>
                        <td>
                            {{ station.nom }}
                        </td>
                        <td>
                            <a href="{{ path('issep_h24', {'id': station.id}) }}">
                                Aujourd'hui
                            </a>
                        </td>
                        <td class="d-flex align-items-center justify-content-evenly">
                            {% if station.indice %}
                                <a href="{{ path('issep_indice', {'id': station.id}) }}">
                                    {{ station.indice.label }}
                                </a>
                                {% include '@AcMarcheIssep/station/_color.html.twig' with {'indice': station.indice} %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('issep_config', {'id': station.id}) }}">Config</a>
                        </td>
                        <td>
                            <a href="{{ path('issep_data', {'id': station.id}) }}">Relevés</a>
                        </td>
                        <td class="text-muted">
                            id: {{ station.id }}, config {{ station.id_configuration }}, reseau {{ station.id_reseau }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}